/*        ***CSS variables***         */
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #000000;
  --title-text-color: #212121;
  --accent: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --button-active-bg-color: #188ce8;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}
/*        !RESET STYLES */

h1,
h2,
h3,
p {
  margin: 0;
  font-size: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*        !Global properties       */
body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: default;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding: 94px 0;
}

.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*        !***HEADER*** */
.header {
  border-bottom: 1px solid #ececec;
}
.header-wrap {
  display: flex;
  align-items: center;
}

/*        !Logo      */

.header-wrap .logo {
  padding: 24px 0 23px 0;
}

.logo {
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent);
}
.logo-design-header {
  color: var(--secondary-text-color);
}

.logo-design-footer {
  color: var(--primary-bg-color);
}

/*         !Navigation         */

.nav-list {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  color: #212121;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding: 31px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-link.current {
  color: var(--accent);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 4px;
  opacity: 1;
  background-color: var(--accent);
  border-radius: 2px;
}

/*        !Contacts        */

.contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-link {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 31px 0;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent);
  fill: var(--accent);
}

.contact-icon-mail {
  min-width: 16px;
  min-height: 12px;
  margin: 0 10px;
}
.contact-icon-tel {
  min-width: 10px;
  min-height: 16px;
  margin: 0 10px;
}

/*          !***MAIN***!  */

/*        !Hero          */

.hero {
  width: 1600px;
  padding: 200px 0;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../img/index-img/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-wrap {
  text-align: center;
}

.hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.button-hero {
  color: var(--primary-bg-color);
  background-color: var(--accent);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--button-active-bg-color);
}

/*        !Our features */

.features-list {
  display: flex;
}

.features-item {
  max-width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  padding: 0px;
  margin-bottom: 10px;
}

.features-text {
  color: var(--primary-text-color);
  line-height: 1.71;
}

.feature-icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-bg-color);
}

/*        !Directions      */

.direction {
  padding-top: 0;
}

.direct-wrap {
  display: flex;
  justify-content: center;
}

.direct-icon:not(:last-child) {
  margin-right: 30px;
}
.direction-box {
  position: relative;
}

.direction-layout-text {
  width: 370px;
  height: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.direction-text {
  margin: 0;
}
/*        !Our team      */

.team {
  background-color: var(--secondary-bg-color);
  min-width: 1600px;
}

.team-list {
  display: flex;
}

.team-unit {
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-unit:not(:last-child) {
  margin-right: 30px;
}

.team-unit .img {
  margin-bottom: 30px;
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  gap: 10px;
  align-content: center;
  justify-content: center;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover,
.social-link:focus {
  background-color: var(--accent);
  outline: transparent;
}

.social-icon {
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--primary-bg-color);
}

/*        !Clients */

.clients-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.client-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent);
  border-color: var(--accent);
}
.client-icon {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
  fill: var(--accent);
}

/*         !!!-----------Footer        */

.footer {
  min-width: 1600px;
  margin: 0 auto;
  background-color: var(--footer-bg-color);
}

.footer-wrap {
  display: flex;
  align-items: baseline;
  width: 1200px;
  padding-bottom: 60px;
}

.address-wrap {
  display: flex;
  flex-direction: column;
}

.join-wrap {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  padding: 0;
}

.address .location {
  color: var(--primary-bg-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .contact {
  color: var(--footer-contacts-color);
  font-style: normal;
  line-height: 1.71;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address .location:hover,
.address .contact:hover,
.address .location:focus,
.address .contact:focus {
  color: var(--accent);
}

.footer-logo {
  margin-bottom: 20px;
  padding: 0;
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
  padding: 0;
}

.join-title {
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.join-social-list {
  display: flex;
  gap: 10px;
}
.join-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  outline: transparent;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-social-link .join-social-icon {
  fill: var(--primary-bg-color);
}

.join-social-link:hover,
.join-social-link:focus {
  background-color: var(--accent);
}
.subscribe-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-left: 93px;
}

.subscribe-title {
  color: var(--primary-bg-color);
  text-decoration: none;
  text-align: left;
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.subscripe-form {
  display: inline-flex;
  align-items: center;
}
.subscribe-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  height: 50px;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:hover,
.subscribe-input:focus {
  border-color: var(--accent);
}

.subscribe-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-bg-color);
  background-color: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  outline: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: var(--button-active-bg-color);
}

.subscribe-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-bg-color);
}
/***            ***Second page***             ***/
/*          **Portfolio styles**          */

/*        !!!----------------Filter buttons        */
.filter-button {
  color: var(--title-text-color);
  background-color: var(--secondary-bg-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover,
.filter-button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-button:active {
  background-color: var(--button-active-bg-color);
}

.filter-wrap {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

/*        !Projects list  */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects-item {
  width: 370px;
  box-sizing: border-box;
}

.project-description {
  border: 1px solid var(--border-color);
  padding: 19px 23px;
}

.projects-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

.pr-card {
  position: relative;
  overflow: hidden;
}

.pr-card-text {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-bg-color);
  background: rgba(33, 150, 243, 0.9);
  top: 0;
  width: 370px;
  height: 294px;
  padding: 63px 24px;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link {
  display: inline-block;
  cursor: pointer;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects .link:hover,
.projects .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  outline: transparent;
}

.projects .link:hover .pr-card-text {
  transform: translateY(0);
}
.projects .link:focus .pr-card-text {
  transform: translateY(0);
}

/*        !!!-----------MODAL FORM WINDOW------------!!!  */

.backdrop {
  opacity: 1;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(47, 48, 58, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  /* transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: translateX(-50%) translateY(-70%);
}
.modal {
  display: flex;
  flex-direction: column;
  min-height: 581px;
  min-width: 528px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: scale(1); */
  transform: translate(-50%, -50%);
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 8px;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 800ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  fill: var(--secondary-text-color);
  background: var(--primary-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn-close:hover {
  fill: var(--accent);
}
.modal-icon-close {
  width: 11px;
  height: 11px;
}

/* ***************************!!!!MODAL HW6 */
.modal-form {
  padding: 40px;
}
.modal-form-title {
  display: block;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--title-text-color);
  margin-bottom: 12px;
}

.modal-field-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.modal-field-container:first-child {
  margin-top: 12px;
}

.modal-field-title {
  text-align: left;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.modal-input-field {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 0;
  margin-bottom: 4px;
  padding-left: 42px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: transparent;
  cursor: text;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:hover,
.modal-input-field:focus {
  border-color: var(--accent);
}

.modal-icon-name {
  width: 12px;
  height: 12px;
  top: 50%;
  left: 12px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-field:hover ~ .modal-icon-name,
.modal-input-field:focus-within ~ .modal-icon-name {
  fill: var(--accent);
}

.modal-field-tel {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-icon-tel {
  width: 13px;
  height: 13px;
  top: 50%;
  left: 12px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:hover ~ .modal-icon-tel,
.modal-input-field:focus-within ~ .modal-icon-tel {
  fill: var(--accent);
}

.modal-field-mail {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-icon-mail {
  width: 15px;
  height: 12px;
  top: 50%;
  left: 12px;
  position: absolute;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:hover ~ .modal-icon-mail,
.modal-input-field:focus-within ~ .modal-icon-mail {
  fill: var(--accent);
}

.modal-comment-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.modal-comment-input {
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: var(--secondary-text-color);
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment-input::placeholder {
  color: rgb(169, 169, 169);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-comment-input:hover,
.modal-comment-input:focus-within {
  border-color: var(--accent);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
.modal-agreement-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 29px;
  padding: 0 12px;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: none;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
.modal-agreement {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.modal-agreement-link {
  color: var(--accent);
  text-decoration: underline;
}
.modal-checkbox-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 15px;
  border: 2px solid #000000;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox-icon {
  fill: transparent;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox:hover ~ .modal-checkbox-pic,
.modal-checkbox:focus ~ .modal-checkbox-pic {
  border-color: var(--accent);
}

.modal-checkbox:checked + .modal-checkbox-pic {
  background-color: var(--accent);
  border-color: transparent;
}
.modal-checkbox:checked + .modal-checkbox-pic > .modal-checkbox-icon {
  fill: var(--primary-bg-color);
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.modal-container-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-btn-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  color: var(--primary-bg-color);
  width: 200px;
  height: 50px;
  border: transparent;
  outline: transparent;
  background: var(--accent);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--button-active-bg-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: transparent;
}
